@model CriadorQRCode.Models.DadosPIXView
@{
    ViewData["Title"] = "Home Page";

    string imgSrc = "";

    if (Model.QrCode != null)
    {
        var base64 = Convert.ToBase64String(Model.QrCode);
        imgSrc = String.Format("data:image/png;base64,{0}", base64);

    }
}

<div class="text-center">
    <h1 class="display-4">Gerador de QRCode PIX</h1>
</div>
<hr />
<form class="form-horizontal" method="POST">
    <div class="form-group">
        @Html.LabelFor(m => m.Tipo)
        @Html.DropDownListFor(m => m.Tipo, (SelectList)ViewBag.TipoPix, "Selecione...", new { @class = "selectpicker form-control", data_show_subtext = "true", data_live_search = "true" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ChavePix)
        @Html.TextBoxFor(m => m.ChavePix, new { @class = "form-control", maxlength = "99" })
        @Html.ValidationMessageFor(m => m.ChavePix)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NomeRazao)
        @Html.TextBoxFor(m => m.NomeRazao, new { @class = "form-control", maxlength = "25" })
        @Html.ValidationMessageFor(m => m.NomeRazao)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Municipio)
        @Html.TextBoxFor(m => m.Municipio, new { @class = "form-control", maxlength = "15" })
        @Html.ValidationMessageFor(m => m.Municipio)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Valor)
        @Html.TextBoxFor(m => m.Valor, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Valor)
    </div>
    <div class="form-group">
        <button class="btn btn-success">
            Gerar QRCode
        </button>
    </div>
</form>
@if (Model.Processado)
{
    <div class="row">
        <div class="mt-2 mx-auto">
            <div class="col">
                <img src="@imgSrc" style="width:300px" />
            </div>
            <div class="col py-2">
                <a class="btn btn-info" download="qrcode-pix" href="@imgSrc">Baixar QRCode</a>
            </div>
            <div class="col">
                @(Html.TextAreaFor(m => m.StrQrCode, new { @class = "form-control" }))
            </div>            
        </div>
    </div>
}

