@model CriadorQRCode.Models.DadoPIXViewModel
@{
    ViewData["Title"] = "Gerador de QRCode PIX";

    string imgSrc = "";

    if (Model.QrCode != null)
    {
        var base64 = Convert.ToBase64String(Model.QrCode);
        imgSrc = String.Format("data:image/png;base64,{0}", base64);
    }
}
<link href="~/css/QRCodePix.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Gerador de QRCode PIX</h1>
</div>
<hr />
<form class="form-horizontal" method="POST">
    <div class="form-group">
        @Html.LabelFor(m => m.Tipo)
        @Html.DropDownListFor(m => m.Tipo, (SelectList)ViewBag.TipoPix, "Selecione...", new { @class = "selectpicker form-control", data_show_subtext = "true", data_live_search = "true" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ChavePix)
        @Html.TextBoxFor(m => m.ChavePix, new { @class = "form-control", maxlength = "99" })
        @Html.ValidationMessageFor(m => m.ChavePix)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NomeRazao)
        @Html.TextBoxFor(m => m.NomeRazao, new { @class = "form-control", maxlength = "25" })
        @Html.ValidationMessageFor(m => m.NomeRazao)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Municipio)
        @Html.TextBoxFor(m => m.Municipio, new { @class = "form-control", maxlength = "15" })
        @Html.ValidationMessageFor(m => m.Municipio)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Valor)
        @Html.TextBoxFor(m => m.Valor, new { @class = "form-control", type="number", placeholder = "1.0", step = "0.01", min = "0", max = "10000" })
        @Html.ValidationMessageFor(m => m.Valor)
    </div>
    <div class="form-group">
        <button class="btn btn-success">
            Gerar QRCode
        </button>
    </div>
</form>
@if (Model.Processado)
{
    <hr />
    <div id="card-qrcode" class="card mx-auto">
        <div class="card-body">
            <h1 class="card-title text-center">
                PAGUE COM
            </h1>
            <div class="text-center pb-2">
                <img id="icone-pix" class="card-img" src="/img/logo-pix.png" alt="Pix" />
                <img id="img-qrcode" class="card-img" src="@imgSrc" />
            </div>

            <h5>Chave Pix</h5>
            <p class="card-text pl-3">@Model.ChavePix</p>
            <h5>Nome</h5>
            <p class="card-text pl-3">@Model.NomeRazao</p>
            <h5>Tipo Chave Pix</h5>
            <p class="card-text pl-3">@Model.Tipo.ToString()</p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col py-2">
            <a id="link-download-qrcode" class="btn btn-info" download="qrcode-pix" href="@imgSrc">Baixar QRCode</a>
        </div>
        <div class="col">
            @(Html.TextAreaFor(m => m.StrQrCode, new { @class = "form-control" }))
        </div>
    </div>
}

