@model CriadorQRCode.Models.DadoWifiViewModel
@{
    ViewData["Title"] = "Gerador de QRCode Wifi";

    string imgSrc = "";

    if (Model.QrCode != null)
    {
        var base64 = Convert.ToBase64String(Model.QrCode);
        imgSrc = String.Format("data:image/png;base64,{0}", base64);

    }
}
<link href="~/css/QRCodeWifi.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Gerador de QRCode Wifi</h1>
</div>
<hr />
<form class="form-horizontal" method="POST">

    <div class="form-group">
        @Html.LabelFor(m => m.ssid)
        @Html.TextBoxFor(m => m.ssid, new { @class = "form-control", maxlength = "99" })
        @Html.ValidationMessageFor(m => m.ssid)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password)
        @Html.TextBoxFor(m => m.password, new { @class = "form-control", maxlength = "25" })
        @Html.ValidationMessageFor(m => m.password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.isHiddenSSID)
        @Html.CheckBoxFor(m => m.isHiddenSSID, new { @class = "form-control", maxlength = "15" })
        @Html.ValidationMessageFor(m => m.isHiddenSSID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tipo)
        @Html.DropDownListFor(m => m.Tipo, (SelectList)ViewBag.TipoAuthWifi, "Selecione...", new { @class = "selectpicker form-control", data_show_subtext = "true", data_live_search = "true" })
    </div>
    <div class="form-group">
        <button class="btn btn-success">
            Gerar QRCode
        </button>
    </div>
</form>
@if (Model.Processado)
{
    <hr />
    <div id="card-qrcode" class="card mx-auto">
        <div class="card-body">
            <div class="text-center pb-3">
                <img id="icone-wifi" class="card-img px-5" src="/img/sinal-wifi.png" alt="Wi-fi" />
                <img id="img-qrcode" class="card-img" src="@imgSrc" />
            </div>

            <h2 class="text-center">Para acessar o Wi-Fi, aponte o</h2>
            <h2 class="text-center">seu celular e leia o QR Code</h2>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col py-2">
            <a id="link-download-qrcode" class="btn btn-info" download="qrcode-pix" href="@imgSrc">Baixar QRCode</a>
        </div>
        <div class="col">
            @(Html.TextAreaFor(m => m.StrQrCode, new { @class = "form-control" }))
        </div>
    </div>
}

